@import "./variable.scss";

// 布局
.flex{
  display: flex;
  &.center{
    align-items: center;
  }
  &.center-x{
    justify-content: center;
  }
  &-space{
    &-b{
      justify-content: space-between;
    }
  }
  .flex-1{
    flex: 1;
  }
}

.font{
  &-color{
    &-primary{
      color: $color-primary;
    }
    &-red{
      color: $color-red;
    }
    &-grey{
      color: $color-grey;
    }
    &-link{
      color: $color-link;
    }
  }
  &-size{
    &-sm{
      font-size: $font-size-sm;
    }
    &-base{
      font-size: $font-size-base;
    }
    &-lg{
      font-size: $font-size-lg;
    }
  }
  &-weight{
    &-bold{
      font-weight: bold;
    }
  }
  &-align{
    &-center{
      text-align: center;
    }
  }
}

.background{
  &-color{
    &-grey{
      background-color: $color-grey;
      &-l{
        background-color: $color-grey-l;
      }
    }
  }
}
.page-bg {
  background-color: $uni-bg-color;
  &-grey {
     background-color: $uni-bg-color-grey;
  }
}
.mod-bg{
  background-color: $uni-bg-color;
}


$arr: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50;
.margin{
  @each $item in $arr{
    &-#{$item}{
      margin: #{$item}rpx;
    }  
  }
  &-x{
    @each $item in $arr{
      &-#{$item}{
        margin-left: #{$item}rpx;
        margin-right: #{$item}rpx;
      }  
    }
  }
  &-y{
    @each $item in $arr{
      &-#{$item}{
        margin-top: #{$item}rpx;
        margin-bottom: #{$item}rpx;
      }  
    }
  }
  &-l{
    @each $item in $arr{
      &-#{$item}{
        margin-left: #{$item}rpx;
      }  
    }
  }
  &-r{
    @each $item in $arr{
      &-#{$item}{
        margin-right: #{$item}rpx;
      }  
    }
  }
  &-t{
    @each $item in $arr{
      &-#{$item}{
        margin-top: #{$item}rpx;
      }  
    }
  }
  &-b{
    @each $item in $arr{
      &-#{$item}{
        margin-bottom: #{$item}rpx;
      }  
    }
  }
}
.padding{
  @each $item in $arr{
    &-#{$item}{
      padding: #{$item}rpx;
    }  
  }
  &-x{
    @each $item in $arr{
      &-#{$item}{
        padding-left: #{$item}rpx;
        padding-right: #{$item}rpx;
      }  
    }
  }
  &-y{
    @each $item in $arr{
      &-#{$item}{
        padding-top: #{$item}rpx;
        padding-bottom: #{$item}rpx;
      }  
    }
  }
  &-l{
    @each $item in $arr{
      &-#{$item}{
        padding-left: #{$item}rpx;
      }  
    }
  }
  &-r{
    @each $item in $arr{
      &-#{$item}{
        padding-right: #{$item}rpx;
      }  
    }
  }
  &-t{
    @each $item in $arr{
      &-#{$item}{
        padding-top: #{$item}rpx;
      }  
    }
  }
  &-b{
    @each $item in $arr{
      &-#{$item}{
        padding-bottom: #{$item}rpx;
      }  
    }
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.split{
  height: 20rpx;
  background-color: $color-grey-l;
}
